
        * {font-family: 'Rubik', sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #toplink {
            color: rgb(48, 47, 47);
        }

        .topbox {

            /* overflow: hidden; */
            width: 100%;
            height: 4vh;
            margin-top: 20px;
            text-align: center;
            vertical-align: middle;

        }

        .leftlogo {
            /* display: inline-block; */
            height: 30px;
            width: 100px;
        }

        .navbar {
            position: absolute;
            width: 96%;
            display: flex;
            justify-content: space-between;
            margin: 15px 0px 0px 40px;
            /* border: 1px solid black; */
        }

        .navbar li {
            font-weight: bold;
            display: inline;
        }

        .navbar li:first-child {
            /* margin-left: 4vw; */
        }

        .navbar li:not(:last-child) {
            margin-right: 25px;
        }

        .navbar ul li:hover{
            background-color: rgba(117, 117, 121, 0.253);
            /* border: 1px solid red; */
        }

        #change1 {
            /* padding-left: 4vw; */
            /* margin-left: 4vw; */
        }

        iframe{
            overflow-y: hidden;
            height: 100vh;
            width: 100%;
            border: none;
        }
        
        .nav-item-min-lg {
            display: none !important;
        }

        /* large desktops, 1200px and up */
        @media (min-width: 1200px) {
            .nav-item-min-lg {
                display: inline !important;
            }

        } 
