
* {font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.modelS {
    position: relative;
    width: 100%;
    height: 94vh;
    background-image: url(ModelS.jfif);
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
}

.heading1 {
    font-size: 38px;
    text-align: center;
    padding-top: 120px;
    font-weight: bold;
}

.tagline1 {
    text-align: center;
    padding-top: 13px;
}

#MSlink {
    color: rgb(53, 53, 53);
    text-decoration: none;
    border-bottom: 1px solid grey;
}

#MSlink:hover {
    border-bottom: 2px solid black;
}

.MSButton1 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    background-color: rgb(29, 29, 29);
    
    color: white;
    
    border-radius: 59px;
    width: 256px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.MSButton2{
    display: inline-block;
    font-size: 15px;
    text-align: center;
    background-color: white;
    color: rgb(29, 29, 29);
    border-radius: 59px;
    width: 256px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.modelY {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(ModelY.jpg);
    background-size: cover;
    background-position: top;
}
.model3 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(Model3.jpg);
    background-size: cover;
    background-position: top;
}
.modelX {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(ModelX.jpg);
    background-size: cover;
    background-position: top;
}
.solarpanel {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(Solarpanel.jfif);
    background-size: cover;
    background-position: top;
}
.solarroof {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(solarroof.jpg);
    background-size: cover; 
    background-position: top;
}
.assec {
    position: relative;
    width: 100%;
    height: 88vh;
    background-image: url(assec.jpg);
    background-size: cover; 
    background-position: top;
    
}
.assecbutt{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    background-color: rgb(29, 29, 29);
    
    color: white;
    
    border-radius: 59px;
    width: 256px;
    padding: 10px;
}
.foot{
    width: 100%;
    height: 12vh;
    
    text-align: center;
    line-height: 6vh;
} 

.ft li{
    display: inline-block;
    padding-right: 10px;
}

.btn-group {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    text-align: center;
}

/* landscape phones, 576px and up */
@media (max-width: 600px) {
    .MSButton1,
    .MSButton2 {
        width: 80%;
    }

    .MSButton1 {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
}


